extends layout
include ../../../node_modules/bayan-form/views/_bayan
block content
  +form(bayan.schema, row, formOpts)(method='post',enctype=hasFiles?'multipart/form-data':'application/x-www-form-urlencoded')
